<style>
table, th, td {
  border: 1px solid black;
}
</style>
<table style="width:100%">
    <tr>
        <th style="background-color:#F5B8B3">Title</th>
        <td><%= @plan.title %></td>
    </tr>
        <th style="background-color:#F5B8B3">Objective(s)</th>
        <td><%= @plan.objective %></td>
    </tr>
        <th style="background-color:#F5B8B3">Standard(s)</th>
        <td><%= @plan.standard %></td>
    </tr>
        <th style="background-color:#F5B8B3">Description</th>
        <td><%= @plan.description %></td>
    </tr>
        <th style="background-color:#F5B8B3">Vocabulary</th>
        <td><%= @plan.vocabulary %></td>
    </tr>
        
</table>

